<!-- HTML HERE -->
<button type="button" class="btn btn-primary button-inner" id="button">
  //text_here//
</button>

<!-- CSS HERE -->
<style>
  .button-inner {
    background-color: #0f9d58;
    outline: #0f9d58;
    border: #0f9d58;
    display: inline-block;
    padding: 12px 18px;
  }

  .button-inner:hover,
  .button-inner:active,
  .button-inner:target,
  .button-inner:active:focus {
    background-color: #0d854b;
    outline: #0d854b;
    border: #0d854b;
  }

  .button-inner a {
    text-decoration: none;
    color: black;
  }
</style>
